#include <windows.h>

101 DATA "app.zip"

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
GLFW_ICON  ICON ".\\app.ico"

VS_VERSION_INFO VERSIONINFO
PRODUCTVERSION 6,3,9600,17298
FILEFLAGSMASK 0x3fL
FILEOS 0x40004L
FILETYPE 0x1L
FILESUBTYPE 0x0L

BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName", "CodeGoose"
            VALUE "FileDescription", "Some epic software."
            VALUE "InternalName", "epic"
            VALUE "LegalCopyright", "Brandon White (2021)"
            VALUE "OriginalFilename", "app.exe"
            VALUE "ProductName", "Epic"
            VALUE "ProductVersion", "0.0.1"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END